apiVersion: toboggan.md/v1
kind: Template
metadata:
  name: configmap-simple
  namespace: default
spec:
  patches:
    - path: 'metadata.generateName'
      target: configmap
      template: '{{variables.name}}-lalala-weee-'
  resources:
    - name: configmap
      k8s-type: configmap
      max: 1
      min: 1
      required: true
      template: |-
        apiVersion: v1
        kind: ConfigMap
        metadata:
          generateName: ''
        data:
          foo: bar
          fizz: buzz
  variables:
    - metadata:
      name: name
      required: true
      schema:
        openAPIV3Schema:
          description: metadata.generateName
          type: string